/* font-family: 'Metrophobic', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Manrope", sans-serif;
}

img {
  display: block;
}
/*         HERO             */
.header {
  border-bottom: 1px solid #e5e9f2;
  height: 73px;
  display: flex;
}

.container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 40px;
}

.nav {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.nav a {
  text-decoration: none;
  color: #18191f;
  margin-right: 32px;
  align-items: center;
}

.nav a:last-child {
  margin-right: 0px;
}

.nav a:hover {
  color: #8c30f5;
}

.appstore {
  margin: 0 auto;
  display: flex;
  margin-left: 159px;
}

.appstore-item {
  margin-left: 12px;
}

.appstore-item:first-child {
  margin-left: 0px;
}

/* Organizer */

.main-container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 197px;
  padding-bottom: 197px;
  align-items: center;
}

.main-content {
  width: 540px;
}

.main-header {
  margin-top: 0;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 16px;
}
.main-text {
  margin-bottom: 32px;
}

.main-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #18191f;
}

.button {
  display: inline-block;
  height: 62px;
  background: #8c30f5;
  border-radius: 8px;
  padding-left: 35px;
  padding-right: 35px;
  text-decoration: none;
}

.button p {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.button p:hover {
  color: #fffb00;
  opacity: 0.8;
}

/* footer */

.footer {
  height: 72px;
  color: #d9dbe1;
  background: #0b0d17;
  display: flex;
  align-items: center;
}

.footer-container {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright {
  font-size: 14px;
}

.footer-social {
  display: flex;
}

.footer-social img {
  margin-left: 16px;
}

.footer-social img:first-child {
}
